<label for="{{ id }}">{{ label }}</label>
<select id="{{ id }}" name="{{ name }}" class="form-control">
	{% for option in options %}
		<option value="{{ option.id }}" {% if option.id == selected %} selected {% endif %}>{{ option.name }}</option>
	{% endfor %}
</select>
