{# position-relative has to be enabled or pill won't show. #}
<button type="button" class="btn btn-{{ badge.button_class|default('primary') }} position-relative">
	{{ badge.button_text }}

	{# Display the counter if 'counter' is true #}
	{% if counter %}
		<span class="badge text-bg-{{ badge.badge_class|default('secondary') }}">
			{{ badge.badge_text }}
		</span>
	{% endif %}

	{# Display the pill if 'pill' is true #}
	{% if pill %}
		<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-{{ badge.pill_class|default('danger') }}">
			99+
			<span class="visually-hidden">
				{{ badge.pill_hidden_msg }}
			</span>
		</span>
	{% endif %}
</button>
