<button type="button" class="btn btn-{{ size|default('sm') }} btn-{{ class|default('primary') }}" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="{{ placement|default('top') }}" data-bs-content="{{ content|default('No content available') }}">
	{{ button_text|default('Click me') }}
</button>
